body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, #0b0f2b, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.game-container {
    width: 450px;
    background: #11153a;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#timer {
    background: gold;
    color: black;
    padding: 8px 15px;
    border-radius: 50%;
    font-weight: bold;
}

#score {
    font-weight: bold;
}

.question-box {
    margin-bottom: 20px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.option {
    padding: 15px;
    background: #1d2460;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.option:hover {
    background: #2c35a0;
}

.correct {
    background: green !important;
}

.wrong {
    background: red !important;
}

#startBtn {
    margin-top: 20px;
    padding: 12px 30px;
    background: gold;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
